.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    font-size: 8px;
    border: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    animation: spins 1s infinite linear;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

@keyframes spins {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}